body {
	background-color: $color3;
	position: relatiive;
}
body.default {
  padding-top:em(70px);
  @include MQ(XSneg) {padding-top:em(60px);}
}
h1, h2 {
	font-family: $aileronlight;
}
h3 {

}
h1 {
	font-size: em(42px); 
	margin: em(15px, 36px) 0 em(25px, 36px) 0;
	@include MQ(XS) {
		font-size:em(30px);
	}
}
h2 {
	font-size: em(36px);
	color: $color1;
	@include MQ(XS) {
		font-size:em(30px);
	}
}
h3 { 
	font-size: em(23px); 
	font-family: $aileronregular; 
	color : $color2;
}

header + .container-fluid {
	padding-left:0;
	padding-right:0;
	overflow: hidden;
}
.admin-footer {
  background-color: $color3;
  padding-left:em(15px);
  padding-right:em(15px);
}
.btn {border-radius:0; border:0;}
.flashMessage {padding: em(10px);}
/*
* nice hover effects
*********************/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $color2;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  @include MQ (Lplus) {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}
.hvr-sweep-to-top:before {
  @include MQ (Lplus) {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color2;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  @include MQ (Lplus) {
    color: white;
  }
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  @include MQ (Lplus) {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/*******************

********************/

