body {
	background-color: $color3;
	position: relatiive;
  // padding for headerrom.js
  padding-top:em(70px);
}
h1, h2 {
	font-family: $aileronlight;
}
h1 {
	font-size: em(42px); 
	margin: em(15px, 36px) 0 em(25px, 36px) 0;
	@include MQ(XS) {
		font-size:em(30px);
	}
  &#vols { font-size: em(30px); }
}
h2 {
	font-size: em(36px);
	color: $color1;
	@include MQ(XS) {
		font-size:em(30px);
	}
}
h3 { 
	font-size: em(23px); 
	font-family: $aileronregular; 
	color : $color2;
}

header + .container-fluid {
	padding-left:0;
	padding-right:0;
	overflow: hidden;
}
.admin-footer {
  background-color: $color3;
  padding-left:em(15px);
  padding-right:em(15px);
}
.btn {border-radius:0; border:0;}
.flashMessage {padding: em(10px);}
