/*
* Specific design for gallery page
*
********************************************/

#galerie-filmstrip {
	position:relative;
	height: 100%;
  	overflow: auto;
	h2 {
		color: lighten($color1, 80%);
		font-size:em(22px);
		margin-top: 1em;
		@include MQ(Sneg) {
			font-size:em(14px);
			padding:0 em(15px);
			margin-top:em(60px, 14px);
		}
	}
	#toggle-sidebar {
		position:fixed;
		top :em(250px);
		left:em(100px);
		a {
			color: lighten($color1,100%);
			font-size:em(60px);
			opacity:1;
			@include transition-property(color);
	  		@include transition-duration(2s);
	  		@include transition-timing-function(ease-out);
			@include single-text-shadow;
			&:hover {
				color:$color2;
			}
			@include MQ(Sneg) {
				font-size:em(35px);
			}
		}
		
		@include MQ(Sneg) {
			position:absolute;
			left:em(30px);
			z-index:100;
			top :em(280px);
    	}
	}
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
		.row {padding-left: 15px;}
	}
	.galerie-thumb {
		position: absolute;
		width:100%;
		z-index: 100;
		height: auto !important;
		background: rgba($color1, 0.7);
		.trigger-expand {
			position: absolute;
		    z-index: 101;
		    left: 50%;
		    @include transform(translate(-50%, 0));			
			background: rgba($color1, 0.7);	
			&.top {
				bottom: -47px;
				@include border-bottom-radius(5px);
			}    		
			a { color: lighten($color1, 100%); }
			span {padding: em(15px) em(25px);}
			@include MQ(Sneg) {
				display:none;
    		}
    	}
    	@include MQ(Sneg) {
			position:relative;
    	}
	}
	.galerie-thumb {
    	@include MQ(Sneg) {
    		padding-left:0;
    		padding-right:0;
			min-height:auto !important;
    	}		
	}
	#galerie-info {		
		font-size:em(13px);
		color:lighten($color1, 100%);
		background-color: $color1;
		h2 {padding:0;font-size : em(17px);} 
		h3 {font-size : em(15px);}	
		ul {padding-left:0;}
		.groupToMatch {
			padding: em(15px, 13px);
			height: 100%;
    		overflow-y: auto;
    		position: relative;
			}
		#map-ctp, #map-canvas-0 {min-height:em(200px);}
		.label {font-weight:normal;}
		.label-default {background-color:$color2;}
		a.close-sidebar { 
		  display:inline-block;
		  position: absolute;
		  z-index:10;
		  right: 0;
		  top: 0;
		  width: em(32px);
		  height: em(32px);
		  opacity: 0.6;
		  color:lighten($color1, 20%);
		  &:hover{opacity: 1;}
		  &:before, &:after {
		  	position: absolute;
		  	left: em(15px);
		  	content: ' ';
		  	height: em(33px);
		  	width: em(2px);
		  	background-color: lighten($color1, 80%);
		  }
		  &:before {@include transform(rotate(45deg));}
		  &:after {@include transform(rotate(-45deg));}
		}
	}
	#price-ask a{
		font-size:em(14px);
		margin-top:em(10px, 14px);
	}
	#galerie-thumb-bro {
		@include MQ(Splus) {			
/* 			position:fixed;  */
    		min-height: 160px;
			width:100%;
			z-index:1000;
		}
	}
	#galerie-thumb-bro .galerie-thumb-scroll {		
		display:none;
		@include MQ(Sneg) {			
			display:block;
			padding: em(5px);
		}
	}
	div.galerie-thumb-scroll {  			
		width: 100%;
		height: auto;
		overflow:auto;
		white-space:nowrap;
		position:relative;		
		min-height:160px;
		@include MQ(Mneg) {			
			min-height:180px;
		}
		@include MQ(Sneg) {			
			min-height:150px;
		}
  	}
  	.thumbnail { 
  		display: inline-block; 
  		margin-bottom: 0;
  		background-color: transparent;
  		border:0;
  		padding: em(15px) em(7.5px);
  		&.active img, &:hover img, &:focus img {outline:5px solid $color2;}
  		img {
  			@include MQ(Mneg) {
  				max-width: em(100px);
  			}
  			@include MQ(Mplus) {
  				max-width: em(150px);
  			}
  		}
  		@include MQ(M) {
  			padding:em(5px) em(2.5px);
  		}
  		@include MQ(Sneg) {
  			padding:0;
  		}
  	}	
}

.carousel-indicators {
	@include MQ(Sneg) {
		bottom: em(10px);
	}
}
.admin-galery-wrapper {	
	.admin-galery {
		margin: em(10px) 0;
		h2 {
			cursor: pointer;
			width:100% !important;
			font-size: em(20px) !important;
			background-color: lighten($color1, 90%)!important;
			padding: em(10px, 20px) !important;
		}
		background-color: lighten($color1, 100%);
		form {display:none; padding:em(10px);}
	}
}
.thumb {
	.thumb-link {
		@include MQ(Sneg) {
			font-size:em(12px);
		}
	}
}
/* thumbnail on map page */
.gm-style-iw .col-sm-4 {
	width:100%;
	padding:0;
	.thumbnail {margin-bottom:0;}
	.image-box {margin:0;}
	.caption {
		max-width:em(180px);
		padding:0;
		line-height:1.5em;
	}
	img {
		max-width:em(180px);
		@include MQ(Sneg){
			max-width:em(60px);
		}
	}
	.thumb-link {
		max-width:em(180px, 11px);
		font-size:em(11px);	
		.badge {
			padding:0 0 0 em(5px, 11px);
			display:inline;
			float:none;
		}
	}
}

/* ==================================================
  gallery
====================================================*/
.image-box {
	border: 2px solid lighten($color1, 100%);
	background: lighten($color1, 100%);
	margin: em(15px) 0;
	img {
	  @include transition(all 0.4s ease-in-out);
	}
	figure {
		overflow: hidden;
		&:hover img {
			@include transform(scale(1.1));
		}
	}
	.caption {
		color:$color1;
		text-align: center;
		padding: em(10px) 0;
	}
	a {
		text-decoration: none;
		&:hover h4 {
			color: $color6;
		}
	}
}
/* new css show children photo's galerie under parent photo */
.children-photos {
	position:absolute; bottom:0; width:100%;
	.child-photo img {
		width:em(100px); 
		height:auto;
		@include MQ(Mneg) {			
			width:60px;
		}
	}
}
a[class*='parent-'] {position:relative;}
.arrow-down {
	display:none;
	width: 0; 
	height: 0; 
	border-left: em(20px) solid transparent;
	border-right: em(20px) solid transparent;	
	border-top: em(20px) solid $color2;
	position:absolute;
	z-index:100;
	left:40%;
	@include MQ(Sneg) {
		left:30%;
	}
}
a.active .arrow-down {display:block;}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 50px;
    height: 50px;
    width: 50px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {width:100%;}