#galerie-filmstrip {
  /* fond en noir pour l'effet filmstrip*/
  background-color: black; }
  #galerie-filmstrip div.galerie-thumb-scroll {
    /*will be override by the matchHeight*/
    height: 1px;
    /*scrollable thumbnails container*/
    overflow-y: scroll; }
  #galerie-filmstrip div.galerie-carousel {
    /*for a beter loading effect*/
    overflow: hidden; }
