/*
* Specific design for gallery page
*
********************************************/

#galerie-filmstrip {
	position:relative;
	height: 100%;
  	overflow: auto;
	h2 {
		color: lighten($color1, 100%);
		font-size:em(17px);
		&#intro {font-size:3vw;}
	}
	#toggle-sidebar {
		position:absolute;
		z-index:1000;
		top:50%;
		left:em(100px, 40px);
		background-color: lighten($color1, 100%);
		color: $color1;
		font-size:em(40px);
		@include border-radius(em(50px, 40px));
		@include box-shadow($color1, em(5px, 40px));
		width:em(50px, 40px);
		height:em(50px, 40px);
		line-height: em(50px, 40px);
		text-align: center;
		cursor:pointer;
		span {
			display:inline-block;
			text-indent: -40000px;
		}
		&:hover {background-color: lighten($color1, 80%);}
	}
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
		.row {padding-left: 15px;}
	}
	.galerie-thumb {
		position: absolute;
		width:100%;
		z-index: 100;
		height: auto !important;
		background: rgba($color1, 0.7);
		.trigger-expand {
			position: absolute;
		    z-index: 101;
		    left: 50%;
		    @include transform(translate(-50%, 0));			
			background: rgba($color1, 0.7);	
			&.top {
				bottom: -44px;
				@include border-bottom-radius(5px);
			}
			&.bottom {
				top:-44px;
				@include border-top-radius(5px);
			}	    		
			a { color: lighten($color1, 100%); }
			span {padding: em(15px) em(25px);}
			@include MQ(XSneg) {
				display:none;
    		}
    	}
    	@include MQ(XSneg) {
			position:relative;
    	}
	}
	.galerie-thumb {
    	@include MQ(XSneg) {
    		padding-left:0;
    		padding-right:0;
			min-height:auto !important;
    	}		
	}
	#galerie-info {		
		font-size:em(13px);
		background-color: $color1; 
		h3 {
			font-size : em(15px, 13px)
		}	
		.groupToMatch {
			padding: em(15px, 13px);
			height: 100%;
    		overflow-y: auto;
    		position: relative;
			}	
	}
	#price-ask a{
		font-size:em(14px);
		margin-top:em(10px, 14px);
	}
	#galerie-thumb-bro .galerie-thumb-scroll,
	#galerie-thumb-child .galerie-thumb-scroll {		
		display:none;
		@include MQ(Sneg) {			
			display:block;
		}
	}
	#galerie-thumb-child {
		.galerie-thumb {bottom:0;}
	}
	div.galerie-thumb-scroll {  			
		width: 100%;
		height: auto;
		overflow:auto;
		white-space:nowrap;		
		a.thumbnail:first-child {padding-left:0;}
  	}
  	.thumbnail { 
  		display: inline-block; 
  		margin-bottom: 0;
  		background-color: transparent;
  		border:0;
  		padding: em(15px) em(7.5px);
  		&.active img {outline:5px solid lighten($color1, 100%);}
  		&:hover img { outline: 1px solid lighten($color1, 70%); }
  		img {

  			@include MQ(XS) {
  			max-width: em(100px);
  			}
  			@include MQ(Mneg) {
  			max-width: em(140px);
  			}
  			@include MQ(M) {
  			max-width: em(150px);
  			}
  			@include MQ(Lplus) {
  			max-width: em(200px);
  			}
  		}
  		@include MQ(M) {
  			padding:em(5px) em(2.5px);
  		}
  		@include MQ(XSneg) {
  			padding:0;
  		}
  	}	
}

.carousel-indicators {
	@include MQ(XS) {
		bottom: em(10px);
	}
	@include MQ(Splus) {
		bottom: em(50px);
	}
	@include MQ(Lplus) {
		bottom: em(80px);
	}
}
.pagination {
	& > li > a, 
	& > li > span {
		@include MQ(Mneg) {
			font-size: em(11px);
			padding: em(3px, 11px) em(6px, 11px);
		}
	}
	@include MQ(XSneg) {
		float:none !important;
		margin-left: em(5px);
		margin:em(5px);
	}
}
.admin-galery-wrapper {	
	.admin-galery {
		margin: em(10px) 0;
		h2 {
			cursor: pointer;
			width:100% !important;
			font-size: em(20px) !important;
			background-color: lighten($color1, 90%)!important;
			padding: em(10px, 20px) !important;
		}
		background-color: lighten($color1, 100%);
		form {display:none; padding:em(10px);}
	}
}

