/*
* 1. Home design
* 2. Interior default design
* 3. Map page design
* 4. jquery scrollpane
**/

/*
* 1. Home design
********************************************/
.flight-wrapper {
	h1 {
		color: lighten($color1, 100%);
	}

	@include MQ(Mneg) {
		position: relative;
		top: 0;
		left: 0;
		margin-right: 0;
		transform: none;
	}
	@include MQ(M) {
		top: 5%;
		margin-right:auto;
	}
	@include MQ(L) {
		top: 35%;
	}
	@include MQ(Lplus) {
		position: absolute;
	    top: 42%;
	    left: 50%;
	    margin-right: -50%;
		-ms-transform: translate(-50%, -50%); /* IE 9 */
		-webkit-transform: translate(-50%, -50%); /* Safari */
	    transform: translate(-50%, -50%);
	}
}
.box-home {
	.groupToMatch {
		position:relative;
		background-color: lighten($color1, 100%);
		margin-bottom: em(20px);
		padding-bottom: em(40px);
		h2 {
			font-size: em(26px);
			position: absolute;
			bottom: 0; 
			left: 0;
			margin:0 0 0 .2em;
			color: lighten($color1, 100%);
			line-height: 1.56em;
 			display: inline;
 			max-width: 95%;
			span {
				padding:.2em;
				box-shadow: 0.2em 0 0 rgba($color2,0.8), -0.2em 0 0 rgba($color2,0.8);
				background-color: $color2;
				background-color: rgba($color2,0.8);
				box-decoration-break: clone;
			} 		
		}
		img {width:100% !important; height: auto !important;}
		.text-wrapper p:first-child, .heading-wrapper {position: relative;}
		.form-group {
			position:absolute;
			bottom:0;
			margin-bottom:0;
			right:0;
		}
	}
	strong { color: lighten($color1, 60%);}
	.text-wrapper > p {
		padding: 0 em(15px, 12px);
		font-size: em(12px);
		br {
			content: " ";
			line-height: em(20px, 12px);
			display: block; 
			margin-top: em(10px, 12px);
		}
	}
	.form-group:not(.admin) {
		.btn.btn-primary {
			@extend %btn-ico;
		}
	}
}


/* Parallax effect */
.parallaxParent {
	height: 50vh;
	overflow: hidden;
	div {
		background-size: cover;
	}
	& > * {
		height: 200%;
		position: relative;
		top: -100%;
		@include MQ(S) {
			height: auto;
			top:0;
		}
	}
	&#parallax1 div {
		background-image: image-url('map01.jpg');
	}
	&#parallax2 div {
		background-image: image-url('map02.jpg');
	}
	@include MQ(Mneg) {
		height: auto;
		overflow: visible;
	}
}

// 3 boxes for flight reservation on the home 
#sortableFlights {
	height: 100%;
	background-color: lighten($color1, 80%);
	.row {
		margin:0;
		h1 { color: lighten($color1, 100%); }
	}
	@include MQ(Sneg) {
		height: auto !important;
		overflow: visible;
	}
	@include MQ(Lplus) {
		min-height: em(600px);
	}
	@include MQ(XLplus) {
		min-height: em(750px);
	}
}

// Central boxes : 3 search boxes
.box2 {
	h3 {color: $color2;}
	.col-md-4 {
		padding-left: em(80px);
		background: transparent image-url('box-01.png') no-repeat 0 20px;
		@include MQ(Mneg) {
			background-position: em(20px) em(20px);
			background-size: em(35px) auto;
		}

	}
	.text-search {background-image: image-url('box-02.png');}
	.thematic-search  {background-image: image-url('box-03.png');}
	.navbar-form {
		.form-group {
			@include MQ(Mneg) {
				float:left;
				width:em(200px);
			}
			@include MQ(XSneg) {
				width:em(160px);
			}
		}
		@include MQ(Mplus) {
			padding-left:0;
		}
	}
}
.spacer {
	background-color: lighten($color1, 100%);
 	&.s2 {background-color: lighten($color1, 90%);}
}

// gallery home
.box3 {
	.groupToMatch {padding: em(10px);}
}

.thumbnail {
	border-radius: 0;
	.badge {
		background-color: transparent;
	    border-radius: 0;
	    color: $color2;
	    font-size: 1em;
	    font-weight: normal;
	    text-align: right;
	    display: inline-block;
	    float: right;
	}
}
.library {margin-top:em(40px);}

/*
* 2. Interior default design
*
********************************************/
.spacer.s1 {
	padding: em(50px) 0;
	@include MQ(Mneg) {
		padding: em(20px) 0;
	}
}
body.default {
	> .container-fluid {
		background-color: lighten($color1, 100%);
		@extend %no-padding;
	}
	.wysiwygContent {
		> h2:first-child {margin-top:0;}
	}
	#parallax1 div {
		background-image: image-url('map01.jpg');
		@include MQ(S) {
			background-image: none;
		}
	}
	#parallax2 div {
		background-image: image-url('map02.jpg');
			@include MQ(S) {
			background-image: none;
		}
	}
	#parallax3 div {
		background-image: image-url('map03.jpg');
		@include MQ(S) {
			background-image: none;
		}
	}
	#parallax4 div {
		background-image: image-url('map04.jpg');
		@include MQ(S) {
			background-image: none;
		}
	}
	.default {overflow: hidden;}

}

/*
* 3. Map page design
*
***********************************************/
#map-ctp {
	.outer {
	    position: relative;
	    
		.scaling-image {
		    position: relative;
		    visibility: hidden; /* make sure it's hidden */
		    width: 100%;
		    min-width: 100%;
		    height: 100%;
		}
		
		.inner {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    overflow:hidden;
		}
	}
}
#map-canvas .thumbnail {border:0;}
