


// Mixin for creating pill shaped buttons
// ====================================================================

@mixin button-links($button-base: darken($color1,10%),$button-hover: darken($color1,15%)) {
    //border: 1px solid darken($color1,16%);
    padding: .3em .6em;
    //@include border-radius(2px);
    //@include text-shadow(0 1px 2px $color1);
    color: lighten($color1,10%);
    background-color: $button-base;
    &:hover {
        background-color: $button-hover;
    }
}

// Media Query mixin
@mixin MQ($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) and (max-width: $S - 1) { @content; }
    }
    @else if $canvas == S {
        @media only screen and (min-width: $S) and (max-width: $M - 1) { @content; }
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) and (max-width: $L - 1) { @content; }
    }
    @else if $canvas == L {
        @media only screen and (min-width: $L) and (max-width: $XL - 1) { @content; }
    }
    @else if $canvas == XL {
        @media only screen and (min-width: $XL) and (max-width: $XXL - 1) { @content; }
    }
    @else if $canvas == XSplus {
        @media only screen and (min-width: $XS) { @content; }
    }
    @else if $canvas == Splus {
        @media only screen and (min-width: $S) { @content; }
    }
    @else if $canvas == Mplus {
        @media only screen and (min-width: $M) { @content; }
    }
    @else if $canvas == Lplus {
        @media only screen and (min-width: $L) { @content; }
    }
    @else if $canvas == XLplus {
        @media only screen and (min-width: $XL) { @content; }
    }
    @else if $canvas == XSneg {
        @media only screen and (max-width: $XS) { @content; }
    }
    @else if $canvas == Sneg {
        @media only screen and (max-width: $S) { @content; }
    }
    @else if $canvas == Mneg {
        @media only screen and (max-width: $M) { @content; }
    }
    @else if $canvas == Lneg {
        @media only screen and (max-width: $L) { @content; }
    }
    @else if $canvas == XLneg {
        @media only screen and (max-width: $XL) { @content; }
    }
    @else if $canvas == MtoL {
        @media only screen and (min-width: $M) and (max-width: $L - 1) { @content; }
    }
    @else if $canvas == XStoM {
        @media only screen and (min-width: $XS) and (max-width: $M - 1) { @content; }
    }
}

// stroke
@mixin stroke($width, $color) {
    $width: $width + 0;
    $shadow: 0 0 0 transparent;
    $i: 0;
    $w: 1;

    @while ($i < $width) {
        $i: $i + 1;
        $j: 0;
        $w: $w + 2;

        @for $r from 1 through $w {
            @for $c from 1 through $w {
                $x: $c - ceil($w / 2);
                $y: $r - ceil($w / 2);

                $shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
            }
        }
    }

    text-shadow: $shadow;
}
