/****************************************** Home */
.flight-wrapper {
	max-width: em(1200px);
	margin:0 auto;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	h1 {
		color: lighten($color1, 100%);
	}
}
.box-home {
	.groupToMatch {
		position:relative;
		background-color: lighten($color1, 100%);
		h2 {
			position: absolute;
			bottom: 0; 
			left: 0;
			margin:0;
			span {
				display: block;
				float: left;
				clear: both;
				padding: em(10px, 30px) em(15px, 30px) em(0px, 30px) em(15px, 30px);
				background-color: $color2;
				background-color: rgba($color2, 0.8);
			} 
			span + span {padding: em(0px, 30px) em(15px, 30px) em(10px, 30px) em(15px, 30px);}
		}
		img {width:100% !important; height: auto !important;}
		.text-wrapper p:first-child {position: relative;}
	}
	strong { color: lighten($color1, 60%);}
	p:last-child {
		padding: 0 em(15px, 12px);
		font-size: em(12px);
		br {
			content: " ";
			line-height: em(20px, 12px);
			display: block; 
			margin-top: em(10px, 12px);
		}
	}
	.btn.btn-primary {
		padding-left: em(55px);
		border: 0;
		background: $brand-primary image-url('icon-camera.png') no-repeat center left;
	}
}


/* Parallax */
.parallaxParent {
	height: 100vh;
	overflow: hidden;
	div {
		background-size: cover;
	}
	& > * {
		height: 200%;
		position: relative;
		top: -100%;
	}
	&#parallax1 div {
		background-image: image-url('map01.jpg');
	}
	&#parallax2 div {
		background-image: image-url('map02.jpg');
	}
}

#sortableFlights.row {
	margin:0;
}

