/**
* Colors.
********************************/
$color1: #000; // black
$color2: #f3a224; // yellow
$color3: #343434; // grey
$color4: #333333;
$color5: #444;
$color6: #555;
$color7: #ddd;
$color8: #f26c4f;
$color9: #f2bf0d;
$color10: #0099ff;

$defined-bs-type : border-box;

/**
* Breakpoint variables mixin
********************************/
$XS : 320px;
$S : 480px; 
$M : 768px; 
$L : 992px; 
$XL : 1200px; 
