/**
* Colors.
********************************/
$color1: #000; // black
$color2: #f3a224; // yellow
$color3: #343434; // grey
$color4: #333333;

$defined-bs-type : border-box;

/**
* Breakpoint variables mixin
********************************/
$XS : 320px;
$S : 480px; 
$M : 768px; 
$L : 992px; 
$XL : 1200px; 

/**
* Font variable declarations.
********************************/
@include font-face(
  'aileronblack',
  font-files(
    'aileron/black/aileron-black-webfont.woff',
    'aileron/black/aileron-black-webfont.ttf'
  ),
  'aileron/black/aileron-black-webfont.eot',
  normal,
  normal
);

@include font-face(
  'aileronheavy',
  font-files(
    'aileron/heavy/aileron-heavy-webfont.woff',
    'aileron/heavy/aileron-heavy-webfont.ttf'
  ),
  'aileron/heavy/aileron-heavy-webfont.eot',
  normal,
  normal
);

@include font-face(
  'aileronregular',
  font-files(
    'aileron/regular/aileron-regular-webfont.woff',
    'aileron/regular/aileron-regular-webfont.ttf'
  ),
  'aileron/regular/aileron-regular-webfont.eot',
  normal,
  normal
);

@include font-face(
  'aileronlight',
  font-files(
    'aileron/light/aileron-light-webfont.woff',
    'aileron/light/aileron-light-webfont.ttf'
  ),
  'aileron/light/aileron-light-webfont.eot',
  normal,
  normal
);

$aileronblack: "aileronblack", Arial, sans-serif;
$aileronheavy: "aileronheavy", Arial, sans-serif;
$aileronlight: "aileronlight", Arial, sans-serif;
$aileronregular: "aileronregular", Arial, sans-serif;