/Plugin/*
/composer.lock
/Vendor/*
/.sass-cache/
/Config/core.php
/Config/database.php
/Config/bootstrap.php
/.buildpath
/.settings/
/scripts/
/webroot/img/cache/*.*
/.project
/.vagrant/
/Vendor/
*/.DS_Store