{# app/Resources/views/Emails/registration.html.twig #}
<h3>Nouvelle demande de contact</h3>

<p>
Une nouvelle demande de contact <b>pour un vol</b> est arrivée sur le site pour <a href="{{ ems_baseurl }}data/revisions/booking:{{ response.uuid }}">{{ data.name }}</a>.
</p>
<p>
++
</p>