{# app/Resources/views/Emails/registration.html.twig #}
<h3>Nouvelle demande de contact</h3>

<p>
Une nouvelle demande de contact <b>pour une série</b> est arrivée sur le site pour <a href="{{ ems_baseurl }}data/revisions/price_request:{{ response.ouuid }}">{{ data.name }}</a>.
</p>
<p>
++
</p>