# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port: 25
    mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    prefix: global_

    translation_config:
        preview:
            type: traduction
            alias: global_preview
        live:
            type: traduction
            alias: global_live
    aperture_index: aperture
    ems_baseurl: 'http://localhost/global-admin/web/app_dev.php/'
    ems_api: 'http://localhost/global-admin/web/app_dev.php/api'
    ems_login: 'http://localhost/global-admin/web/app_dev.php/auth-token'
    ems_pwd: website
    ems_user: website
    aws_credentials:
      version: latest
      region: eu-central-1
      credentials:
          key: ffffffffffffffff
          secret: ffffffffffffffff
    googleApiKey: ffffff
    awsESDomainName: ffff
    imageServer: http://global.theus.be/
    public_key:  'google_recaptcha_public_key'
    private_key: 'google_recaptcha_private_key'
    storage_path: '../var/assets' #/opt/assets
