.navbar-collapse {
  .dropdown-item {
    a {
      text-decoration: none;
    }
  }
  .nav-link:not(.disabled),
  .dropdown-toggle,
  .dropdown-item:not(:active):not(.active) {
    color: $primary;

    &:hover {
      &:before {
        background-color: rgba($secondary, .6);
      }
    }
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  vertical-align: middle;
  background: 50%/100% 100% no-repeat;
}

#page-header .navbar-toggler .navbar-toggler-icon {
  position: relative;
  display: block;
  height: 1.15rem;
  transition: 0.5s ease-in-out;
}
#page-header .navbar-toggler .navbar-toggler-icon span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.25s ease-in-out;
  opacity: 1;
  border-radius: 2px;
  background: #147ac1;
}
#page-header .navbar-toggler .navbar-toggler-icon span:nth-child(1) {
  top: 0;
}
#page-header .navbar-toggler .navbar-toggler-icon span:nth-child(2),
#page-header .navbar-toggler .navbar-toggler-icon span:nth-child(3) {
  top: 10px;
}
#page-header .navbar-toggler .navbar-toggler-icon span:nth-child(4) {
  top: 20px;
}
#page-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(1) {
  top: 10px;
  left: 50%;
  width: 0;
}
#page-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(2) {
  transform: rotate(45deg);
}
#page-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
#page-header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(4) {
  top: 10px;
  left: 50%;
  width: 0;
}

@include media-breakpoint-up(lg) {
  .navbar-collapse {
    position: static;
    background: transparent;
    .nav-link {
      text-transform: uppercase;
    }
  }

  .navbar-nav {
    font-weight: bold;

    .dropdown-toggle[aria-expanded="true"] {
      position: relative;
    }
    .active .dropdown-toggle,
    .dropdown-toggle[aria-expanded="true"],
    .nav-link.active {
      &:before {
        bottom: -8px;
      }
    }

    .dropup, .dropright, .dropdown, .dropleft {
      position: static;
      // display: flex;
    }

    .dropdown-menu {
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-200;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-color: $gray-300;

      &.show {
        display: flex;
      }
    }

    .dropdown-item {
      width: auto;
      margin-right: 2rem;
      padding-left: 0;
      padding-right: 0;
      white-space: normal;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      font-size: rem(16);

      &.active, &:active, &:hover, &:focus {
        background-color: transparent;
        position: relative;
        color: $body-color;

        &:after {
          content: '';
          background-color: $primary;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }

    .active .dropdown-toggle,
    .dropdown-toggle[aria-expanded="true"],
    .nav-link.active {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3px;
        background-color: $secondary;
      }
    }

    .nav-link {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-right: 2rem;
      height: 100%;
      align-items: center;
    }

    .nav-item:last-child .nav-link {
      margin-right: 0;
    }
  }

  .secondary-nav {
    a {
      font-size: rem(14);
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar-nav {
    .dropdown-item {
      margin-right: 1.5rem;
      font-size: rem(16);
    }

    .nav-link {
      margin-right: 2rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar-collapse {
    background-color: $light;
    margin: 0 $grid-gutter-width * -.5;
    .dropdown-toggle {
      display: flex;
      align-items: center;

      &:after {
        margin-left: auto;
      }
    }
    .dropdown-menu {
      background: none;
      border: 0;
      padding: 0;
      margin: 0 0 0 1.5rem;
    }
    .nav-link,
    .dropdown-item {
      padding: 1rem;
    }

    .nav-item {
      border-bottom: 1px solid $gray-400;
      &:last-child {
        border: 0;
      }
    }
    .nav-link {
      text-transform: uppercase;
      &.active {
        font-weight: bold;
      }
    }
    .dropdown-item {
      &.active, &:active {
        background-color: $gray-200;
      }
    }
  }
}

