.news {
  h3 > a {
    text-decoration: none;
    color: $primary;
    font-size: rem(24);
    &:hover {
      text-decoration: underline;
    }
  }
  //@include media-breakpoint-down(lg) {
  //  > .container {
  //    border-bottom: 1px solid $gray-500;
  //  }
  //}
}
